doctype html
html
   head
      title #{title}
      link(rel="stylesheet",href="/style.css")
   body
      nav.navbar.navbar-expand-lg.navbar-dark.bg-danger 
         .container 
               a.navbar-brand EMail Verify

      .container.mt-5 
         .row
               .col-3 
                  form(action="/",method="post")
                     .mb-3
                           label(for="name") Name
                           input(type="text",name="name",id="name",placeholder="Enter your name").form-control
                     .mb-3
                           label(for="email") Email 
                           input(type="text",name="email",id="email",placeholder="Enter your Email").form-control
                     .mb-3 
                           input(type="submit",value="Create").btn.btn-success
               .col-9 
                  p.text-prmary 
                  table.table
                     tr  
                           th Name
                           th Email 
                           th Action
                     each pro in result 
                           tr
                              td #{pro.name}
                              td #{pro.email}
                              td
                                 a(href="/send/" + pro._id).btn.btn-danger Send Email